<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
<!--replace original hardcoded path "static/css/main.css"  -->
<!--so you can use same css styling for all pages in the site  -->
<!--use flask function url_for, which tells flsk to go to folder & get main.css -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">US Transportation Visualized</h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>

